/*************************
* Persona avatar
*************************/
.avatar {
  height: 220px;
  width: 220px;
  margin: auto;
  vertical-align: middle;
  position: relative;
}
.avatar-photo {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.avatar-photo.avatar-photo--fitWidth {
  width: 100%;
  height: auto;
}
.avatar-photo.avatar-photo--fitHeight {
  height: 100%;
  width: auto;
}
.avatarEditor-uploadFile {
  display: none !important;
}
.avatarEditor-uploadBtn {
  display: block;
  margin: 0 auto;
  width: 120px;
}
