@import "./../bower_components/bootstrap/less/mixins/clearfix.less";

@font-face {
    font-family: "WeblySleek UI";
    src: url("../fonts/weblysleekuil.ttf") format("truetype");
}
@font-size: 14px;

body {
  font-size: @font-size;
  font-family: "WeblySleek UI";
  font-weight: 500;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/*************************
* Widgets
*************************/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}


/*************************
* Widgets
*************************/

.widget {

}

.widget {
  .widget-header {
    h1, h2 {
      margin-bottom: 0;
      margin-top: 0;
    }
    margin-bottom: 10px;
  }
}


.widgets-left {
  .widget {
    background-color: #f5f5f5;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    padding: 20px 20px 0 20px;
  }

  .widget:first-child {
    border-top: 1px solid #e3e3e3;
  }

  .widget:last-child {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 20px;
  }
}

/*************************
* Text list
*************************/

.text-list {
  >.text-list-label {
    float: left;
    text-align: left;
    width: 40%;
  }

  >.text-list-value {
  }
}

.text-editor-list {
  >.text-editor-list-item {
    border-bottom: 1px solid #bbb;
    padding-bottom: 15px;
    margin-bottom: 15px;

    >.text-editor-list-item-col-editor {
      display: table-cell;
      width: 100%;
    }

    >.text-editor-list-item-col-actions {
      display: table-cell;
      vertical-align: top;

      >.text-editor-list-item-col-actions-remove-btn {
        padding-right: 0;
      }
    }

    .text-editor-list-item-label-group {

    }

    .text-editor-list-item-value-group {
      margin-bottom: 0;
    }
  }
}


/*************************
* Story
*************************/
.story {
  >.story-content {
  }
}

/*************************
* Range list
*************************/

.range-list {
  padding-left: 0;

  >.range-list-item {
    border-bottom: 1px solid #e3e3e3;
    display: block;
    padding: 0 5px;

    .range-list-item-label {

    }

    .range-list-item-value {
      bottom: 10px;
      color: #337ab7;
      display: inline-block;
      font-size: 14px;
      position: relative;
    }

    .range-list-item-range {

    }

    .range-list-item-range-labels {
      margin-bottom: 10px;
    }

    .range-list-item-minLabel {
    }

    .range-list-item-maxLabel {
      float: right !important;
    }
  }
}

.range-editor-list {
  padding-left: 0;
  >.range-editor-list-item {
    display: block;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px;
    position: relative;

    >.range-editor-list-item-col-index {
      bottom: -2px;
      display: table-cell;
      line-height: @font-size;
      position: relative;
      vertical-align: bottom;
    }

    >.range-editor-list-item-col-editor {
      display: table-cell;
      width: 100%;
    }

    >.range-editor-list-item-col-actions {
      display: table-cell;
      vertical-align: top;
    }

    .range-editor-list-item-draghandle {
      bottom: 3px;
      cursor: move;
      height: 16px;
      position: absolute;
      right: 3px;
    }

    .range-editor-list-item-label-group {

    }

    .range-editor-list-item-alpha-group, .range-editor-list-item-omega-group {
      margin-bottom: 0;
    }
  }
}


/*************************
* Persona avatar
*************************/

.avatar {
  height: 220px;
  width: 220px;
  margin: auto;
  vertical-align:middle;
  position: relative;

  >.avatar-photo {
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.avatar-photo-fit-width {
      width: 100%;
      height: auto;
    }

    &.avatar-photo-fit-height {
      height: 100%;
      width: auto;
    }
  }
}

.avatar-editor {
  .avatar-editor-upload-file {
    display: none;
  }

  .avatar-editor-upload-btn {
    display: block;
    margin: 0 auto;
    width: 120px;
  }
}

/*************************
* Persona spider
*************************/

.persona-spider {
    height: 400px;
}
