<!DOCTYPE html>
<html>
<head>
  <title>Persona</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-toggle/css/bootstrap-toggle.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="styles/common.css" />
  <link rel="stylesheet" href="styles/bootstrap.css" />
  <link rel="stylesheet" href="styles/bootstrap-sketch.css" />
  <link rel="stylesheet" href="styles/index.css" />
</head>
<body data-ng-app="Persona" data-ng-controller="PersonaController">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Persona</a>
      </div>
      <form class="navbar-form navbar-right">
        <label for="edit">Edit:</label>
        <input type="checkbox" id="edit" pr-toggle ng-model="isEditMode">
      </form>
    </div>
  </nav>
  <header>
    <div class="container">
      <div class="row">
        <div data-ng-if="mode=='view'" class="col-md-12">
          <h1>{{person.name}}</h1>
        </div>
        <div data-ng-if="mode=='edit'" class="form-group col-md-3">
          <label for="title">Section Title:</label>
          <input type="text" class="form-control" id="title" ng-model="person.name">
        </div>
      </div>
    </div>
  </header>
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="widgets-left">
          <pr-widget mode="mode" model="avatarSection" class="avatar-widget">
            <pr-avatar-view data-ng-if="mode=='view'"></pr-avatar-view>
            <pr-avatar-edit data-ng-if="mode=='edit'"></pr-avatar-edit>
          </pr-widget>
          <pr-widget mode="mode" model="listSection" class="textlist-widget">
            <pr-textlist-view data-ng-if="mode=='view'"></pr-textlist-view>
            <pr-textlist-edit data-ng-if="mode=='edit'"></pr-textlist-edit>
          </pr-widget>
          <pr-widget mode="mode" model="storySection" class="story-widget">
            <pr-story-view data-ng-if="mode=='view'"></pr-story-view>
            <pr-story-edit data-ng-if="mode=='edit'"></pr-story-edit>
          </pr-widget>
        </div>
      </div>
      <div class="col-md-9 widgets-center">
        <pr-widget mode="mode" model="rangeSection" class="widget">
          <pr-range-view data-ng-if="mode=='view'"></pr-range-view>
          <pr-range-edit data-ng-if="mode=='edit'"></pr-range-edit>
        </pr-widget>
      </div>
    </div>
  </main>
  <footer class="page-main-footer">
  </footer>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jquery-ui/ui/minified/core.min.js"></script>
  <script src="bower_components/jquery-ui/ui/minified/widget.min.js"></script>
  <script src="bower_components/jquery-ui/ui/minified/mouse.min.js"></script>
  <script src="bower_components/jquery-ui/ui/minified/sortable.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/bootstrap-toggle/js/bootstrap-toggle.js"></script>
  <script src="node_modules/d3-transform/src/d3-transform.js"></script>
  <script src="lib/raychart.js"></script>
  <script src="scripts/main.js"></script>
  <script src="scripts/models.js"></script>
  <script src="scripts/controllers/personacontroller.js"></script>
  <script src="scripts/directives/raychart.js"></script>
  <script src="scripts/directives/widget.js"></script>
  <script src="scripts/directives/transcludenewscope.js"></script>
  <script src="scripts/directives/header.js"></script>
  <script src="scripts/directives/toggle.js"></script>
  <script src="scripts/directives/avatarwidget.js"></script>
  <script src="scripts/directives/textlistwidget.js"></script>
  <script src="scripts/directives/storywidget.js"></script>
  <script src="scripts/directives/rangewidget.js"></script>
</body>
</html>
