<!DOCTYPE html>
<html>
<head>
  <title>Persona</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/bootstrap-toggle.css" />
  <link rel="stylesheet" href="css/font-awesome.css" />
  <link rel="stylesheet" href="css/common.css" />
  <link rel="stylesheet" href="css/bootstrap-extended.css" />
  <link rel="stylesheet" href="css/bootstrap-sketch.css" />
  <link rel="stylesheet" href="css/avatar.css" />
  <link rel="stylesheet" href="css/rangelist.css" />
  <link rel="stylesheet" href="css/story.css" />
  <link rel="stylesheet" href="css/textlist.css" />
  <link rel="stylesheet" href="css/toggle.css" />
  <link rel="stylesheet" href="css/widget.css" />
</head>
<body data-ng-app="Persona" data-ng-controller="PersonaController as ctrl">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Persona</a>
      </div>
      <form class="navbar-form navbar-right">
        <label for="edit">Edit:</label>
        <input type="checkbox" id="edit" pr-toggle ng-model="ctrl.isEditMode">
      </form>
    </div>
  </nav>
  <header>
    <div class="container">
      <div class="row">
        <div data-ng-if="ctrl.mode=='view'" class="col-md-12">
          <h1>{{ctrl.person.name}}</h1>
        </div>
        <div data-ng-if="ctrl.mode=='edit'" class="form-group col-md-3">
          <label for="title">Section Title:</label>
          <input type="text" class="form-control" id="title" ng-model="ctrl.person.name">
        </div>
      </div>
    </div>
  </header>
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <pr-avatar mode="ctrl.mode" model="ctrl.avatarSection" class="widget widget--left avatar-widget"></pr-avatar>
        <pr-textlist mode="ctrl.mode" model="ctrl.listSection" class="widget widget--left textlist-widget"></pr-textlist>
        <pr-story mode="ctrl.mode" model="ctrl.storySection" class="widget widget--left story-widget"></pr-story>
      </div>
      <div class="col-md-9">
        <pr-range mode="ctrl.mode" model="ctrl.rangeSection" class="widget"></pr-range>
      </div>
    </div>
  </main>
  <footer class="page-main-footer">
  </footer>

  <script src="js/third_party/jquery.min.js"></script>
  <script src="js/third_party/core.min.js"></script>
  <script src="js/third_party/widget.min.js"></script>
  <script src="js/third_party/mouse.min.js"></script>
  <script src="js/third_party/angular.min.js"></script>
  <script src="js/third_party/sortable.min.js"></script>
  <script src="js/third_party/sortable.js"></script>
  <script src="js/third_party/d3.min.js"></script>
  <script src="js/third_party/bootstrap-toggle.js"></script>
  <script src="js/third_party/d3-transform.js"></script>
  <script src="js/lib/raychart.js"></script>
  <script src="js/main.js"></script>
  <script src="js/models.js"></script>
  <script src="js/controllers/personacontroller.js"></script>
  <script src="js/directives/raychart.js"></script>
  <script src="js/directives/toggle.js"></script>
  <script src="js/directives/avatarwidget.js"></script>
  <script src="js/directives/textlistwidget.js"></script>
  <script src="js/directives/storywidget.js"></script>
  <script src="js/directives/rangewidget.js"></script>
</body>
</html>
