<div>
  <header class="widget-header">
    <h2>{{model.title}}</h2>
  </header>
  <div class="widget-content">
    <ul class="rangeList">
      <li data-ng-repeat="item in model.items" class="rangeList-item">
        <h3 class="RangeList-Label">{{item.label}}&nbsp;<span class="rangeList-labelValue">{{item.value}}</span></h3>
        <input type="range" min="1" max="10" step="1" data-ng-model="item.value" class="rangeList-range">
        <div class="rangeList-labels">
          <span class="rangeList-minLabel">{{item.maxLabel}}</span>
          <span class="rangeList-maxLabel">{{item.minLabel}}</span>
        </div>
      </li>
    </ul>
    <div class="text-center">
      <pr-ray-chart class="persona-spider" items="model.items"></pr-ray-chart>
    </div>
  </div>
</div>
