.drop {
    border: 5px dashed #777;
    border-radius: 15px;
    background-color: rgba(230, 230, 230, 0.8);

    width: 300px;
    height: 300px;

    font: 80px normal, Verdana;
    color: #777;

    cursor: pointer;

    /* center alignment: */
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    -webkit-transition: -webkit-transform 300ms;
}

.drop-over {
    border-color: #f50;
    -webkit-transform: scale(0.9) translateZ(0);
}